@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

dfn{
	font-style: italic;
}

footer{
	margin-top: 1em;
	text-align: right;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
